.formControl{
    margin-bottom: 30px !important;
}

.formControl select{
    color: grey !important;
    border-radius: 4px !important;
    padding: .5rem !important;
    font-weight: 600 !important;
    border: 2px solid #e8e8e9 !important;
}
